html {
    width: 100%;
    background: #eaecf0;
}

body {
    font-family: font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Lato, Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 0;
    min-width: 1024px;
    margin: 0;
    background: #fff;
    -webkit-text-size-adjust: none;
}


/* *** header elements *** */

nav a {
    text-decoration: none;
}

nav a:after {
    color: #c8ccd1;
    content: ' | ';
}

nav a:first-child:before {
    color: #c8ccd1;
    content: '[ ';
}

nav a:last-child:after {
    content: ' ]';
}

h1 {
    font-family: 'Charter', Georgia, serif;
    font-size: 150%;
    display:inline;
    float: left;
}

h1 img {
    height: 1.25em;
    vertical-align: text-bottom;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 125%;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
span#searchForm {
    display:inline;
    float: left;
    width: 5em;
    margin-left: 1em;
    margin-top: 0.3em;
}
input#search {
    font-size: 1em;
}

#page-header {
    padding: 0.5em 1em;
    background: #eaecf0;
    color: #222;
}

#page-header a {
    color: #222;
}

#page-header h1 {
    margin: 0;
}

#page-header h1 a {
    text-decoration: none;
}

#page-header nav {
    display: block;
    float: right;
    font-size: 150%;
}

#page-header nav a {
    color: #222;
}

#page-header nav a:after {
    color: #222;
    content: ' • ';
    margin: 0 0.25em;
}

#page-header nav a:first-child:before {
    content: '';
}

#page-header nav a:last-child:after {
    content: '';
    margin: 0 0;
}

/* *** proper content *** */

#page-content {
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

#page-content:first-child {
    margin-top: 0;
}

#page-content > form {
    background: white;
    margin: 0 0 0.75em 0;
    border: 1px solid rgba(0,0,0,0.2);
}

#page-content > .panel {
    background: white;
    margin: 0 0 0.75em 0;
    border: 1px solid rgba(0,0,0,0.2);
}

#page-content > .note {
    background: ivory;
    margin: 0 0 0.75em 0;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0.35em 0.5em;
}

/* *** content table *** */

#page-content > table {
    box-shadow: 0 .25rem .25rem #00000013;
    background: white;
    margin: 0 auto 0.75em auto;
    border: 1px solid rgba(0,0,0,.125);
}

#page-content > table th {
    font-weight: normal;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background: rgb(42, 75, 141);
    color: white;
    cursor: pointer;
}

#page-content > table th,
#page-content > table td {
    padding: 0.5em;
}

#page-content > table tbody tr:hover {
    background: #c8ccd1;
}

tr:nth-child(even) {background: #efefef}
tr:nth-child(odd) {background: #f8f9fa}

/* *** content form *** */

#page-content > form.search {
    background: aliceblue;
}

#page-content > form.search input[type=text] {
    width: 10em;
}

#page-content > form.search table tr th {
    font-weight: normal;
    text-align: left;
    padding: 0.5em 0.25em 0 0;
    white-space: nowrap;
    font-style: italic;
    font-size: smaller;
}

#page-content > form.search table tr th:first-child {
    padding-left: 0.6em;
}

#page-content > form.search table tr th:last-child {
    padding-right: 0.6em;
}

#page-content > form.search table tr td {
    font-weight: normal;
    text-align: left;
    padding: 0.25em 0.25em 0.25em 0;
    white-space: nowrap;
}

#page-content > form.search table tr td input[type=text] {
    display: inline-block;
    margin-left: 0;
}

#page-content > form.search table tr td:first-child {
    padding-left: 0.35em;
}

#page-content > form.search table tr td:last-child {
    padding-right: 0.35em;
    width: 100%;
}

#page-content > form.search table tr:last-child td {
    padding-bottom: 0.5em;
}

#page-content > *:first-child {
    margin-top: 0;
}

#page-content > .merge-down {
    margin-bottom: 0;
    border-bottom: 0;
}

#page-footer {
    padding: 1em;
}

/* *** labels *** */

.label {color: #fff; border-radius: .25em; padding: .1em .5em .2em;}

/* db styles */
.pooled {color: #10bb10; }
.depooled {color: #b0b0b0; }
.lowuptime {color: #ffaa1d; }
.verylowuptime {color: #bb1010; }
.highqps {color: #ffaa1d; }
.veryhighqps {color: #bb1010; }
.highlatency {color: #ffaa1d; }
.veryhighlatency {color: #bb1010; }
.highlag {color: #ffaa1d; }
.veryhighlag {color: #bb1010; }
.no {color: #ffaa1d; }

.label-codfw { background-color: rgb(255, 140, 0)}
.label-eqiad { background-color: rgb(70, 130, 180)}
.label-cloud {background-color: #93648d; }
.label-dbstore {background-color: #ab9b51; }
.label-core {background-color: #36c; }
.label-misc {background-color: #5e997e; }
.label-test {background-color: #404040; }
.label-parsercache {background-color: #f16745; }
.label-numinstances {background-color: #777; border-radius: 0.6em; font-size:x-small;}
.label-buster {background-color: #8191a5}
.label-bullseye {background-color: #010027}

/* backup styles */
.label-fresh {background-color: #00af89; }
.label-missing {background-color: #d33; }
.label-very_wrong_size {background-color: #d33; }
.label-stale {background-color: #fc3; }
.label-very_stale {background-color: #d33; }
.label-wrong_size {background-color: #fc3; }
.label-only_one {background-color: #fc3; }
.label-finished {background-color: #00af89; }
.label-ongoing {background-color: #36c; }
.label-failed {background-color: #d33; }
.text-missing {color: #d33; }
.text-stale {color: #d33; }
.text-failed {color: #d33; }

a:link { color: #36c; text-decoration: none; }
a:visited { color: #36c; text-decoration: none; }
a:visited.visited_enabled { color: #663366; text-decoration: none; }
a:hover { color: #36c; text-decoration: underline; }
a:active { color: #2a4b8d; text-decoration: underline; }

/* *** buttons *** */
div.toggle { margin-bottom: 0.3em; }
div.toggle > a {
    background-color: rgb(248, 249, 250);
    color: rgb(32, 33, 34);
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    padding: 0.6rem 1rem;
    text-decoration: rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    border: 1px solid #36c;
    font-size: 1.2rem;
    margin: 0px;
}
div.toggle > a.inactive {
    background-color: rgb(42, 75, 141);
    color: rgb(255, 255, 255);
    cursor: default;
    pointer-events: none;
}

div.toggle > a:first-child {
    border-radius: 2px 0px 0px 2px;
}
div.toggle > a:last-child {
    border-radius: 0px 2px 2px 0px;
}

/* *** styles for tablesort *** */

th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
}

