{% extends 'base.html' %}
{% block content %}
{% load fqdn %}
{% load time %}
  <div class="toggle">
  <a href="/dbbackups/">Current status</a><a class="inactive">Jobs</a>
  </div>
  <h2>List of jobs</h2>
  <table id="backup-list">
  <thead>
  <tr>
    <th title="Name of the backup job run, normally type.section.timestamp" class="name">name</th>
    <th title="If the backup is ongoing (started but not yet finished), finished (completed without errors) or failed (partially completed or completed with errors)" class="status">status</th>
    <th title="If the backup run is a dump (logical backup) or a snapshot (raw backup), the first normally taken with mydumper and the second with xtrabackup/mariabackup" class="type">type</th>
    <th title="Datacenter -geographical location- where the backup was sent/was stored, normally eqiad (Virginia) or codfw (Texas)" class="dc">dc</th>
    <th title="Replica set or dataset name the backup corresponds to" class="section">section</th>
    <th title="When the backup started running (doesn't have into account remote transmission in the case of xtrabackup)" class="start_date">start date</th>
    <th title="When the backup finished running (including postprocessing, metadata gathering and compression" class="end_date">end date</th>
    <th title="End timstamp - Start timestamp" class="duration">duration</th>
    <th title="Total size of the backup, gzipped for dumps (as it is the native format) but uncompressed for xtrabackup" class="total_size">total size</th>
  </tr></thead>
  <tbody>
  </tr>
    {% for backup in backups %}
    <tr>
      <td title="Sent to {{ backup.host }} with this name"><a class="visited_enabled" href="/dbbackups/jobs/{{ backup.pk }}/">{{ backup.name }}</a></td>
      <td title="{{ backup.status_description }}"><span class="label label-{{ backup.status }}">{{ backup.status }}</span></td>
      <td title="{{ backup.type_description }}">{{ backup.type }}</td>
      <td>{{ backup.host | datacenter }}</td>
      <td><a href="/instances/?search={{ backup.section }}">{{ backup.section }}</a></td>
      <td data-sort="{{ backup.start_date | date:'c' }}" title="{{backup.start_date | date:'c' }}">{{ backup.start_date }}</td>
      <td data-sort="{{ backup.end_date | date:'c' }}" title="{{ backup.end_date | date:'c' }}">{{ backup.end_date | default:"" }}</td>
      <td data-sort="{{ backup.duration | seconds }}" title="{{ backup.duration | seconds }} seconds">{{ backup.duration | timespan | default:"" }}</td>
      {% if backup.total_size is None %}
      <td data-sort="0"></td>
      {% else %}
      <td data-sort="{{ backup.total_size }}" title="{{ backup.total_size }} bytes">{{ backup.total_size | filesizeformat }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  <p>{{ num_backups_showed }} jobs shown out of {{ backups.paginator.count }}.</p>
  <script>
  new Tablesort(document.getElementById('backup-list'));
  </script>

  <div class="pagination">
    <span class="step-links">
      {% if backups.has_previous %}
        <a href="?page=1&amp;search={{ search }}">&laquo; first</a>
        <a href="?page={{ backups.previous_page_number }}&amp;search={{ search }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ backups.number }} of {{ backups.paginator.num_pages }}.
      </span>

      {% if backups.has_next %}
        <a href="?page={{ backups.next_page_number }}&amp;search={{ search }}">next</a>
        <a href="?page={{ backups.paginator.num_pages }}&amp;search={{ search }}">last &raquo;</a>
      {% endif %}
    </span>
</div>
{% endblock %}
